<main class="dashboard-page">

  <div class="dashboard-layout">
    <app-sidebar (addTransaction)="openTransactionForm()"></app-sidebar>
    @if(showTransactionForm){
      <div (click)="closeTransactionForm()" class="modal-overlay">
        <div class="modal-container" (click)="$event.stopPropagation()">
          <app-transaction-form (close)="closeTransactionForm()"></app-transaction-form>
        </div>
      </div>
    }

    <section class="dashboard-content">
      <app-dashboard-content></app-dashboard-content>

      <section class="dashboard-grid">
        <app-dashboard-grid></app-dashboard-grid>
        <app-finance-overview></app-finance-overview>
      </section>
    </section>
  </div>

</main>